-var general = site.data.general

mixin head(pageType)
    meta(charset="utf-8")
    meta(name="X-UA-Compatible" content="IE=edge")

    title
        block site_title
            if pageType == "post"
                != page.title + " | " + general["website-title"]
            else if pageType == "index" && page.cityKeyword
                != page.cityKeyword + " " + page.conferenceKeyword + " | " + general["website-title"]
            else
                != general["website-title"]

    block description
        if pageType == "index" && page.cityKeyword
            meta(property="og:title", content= page.cityKeyword + " " + page.conferenceKeyword + " | " + general["website-title"])
        else
            meta(property="og:title", content= config.title)
        meta(property="og:image", content="//www.aifrontiers.com/images/poster.png?v=2")
        meta(name="description" property="og:description", content= general["conference-description"])
        meta(property="og:url", content= "//www.aifrontiers.com")

    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href=url_for(theme.favicon))

    link(rel="stylesheet" href=url_for("vendor/slickNav/slicknav.css"))
    link(rel="stylesheet" href=url_for("vendor/slick/slick.css"))
    link(rel="stylesheet" href=url_for("vendor/jquery-modal/jquery.modal.css") type="text/css" media="screen")
    link(rel="stylesheet" href=url_for("css/main.css") + "?v=6.3")

    script(type='text/javascript' src=url_for("vendor/jquery/jquery.min.js"))

