- var speakers = site.data.speakers
- var schedule = site.data.schedule
- var controls = site.data.module_controls

-
    var speeches = []
    var eventDict = {}
    var postDict = {}
    site.posts.each((item) => {
        if (item["featured-speaker"]) {
            postDict[item["featured-speaker"]] = item;
        }
    });
    for (day in schedule) {
        for (i in schedule[day]) {
            if (schedule[day][i]["type"] == "keynote" && schedule[day][i]["speeches"]) {
                speeches = speeches.concat({
                    "day": day,
                    "time": schedule[day][i]["time"],
                    "title": schedule[day][i]["title"],
                    "description": schedule[day][i]["description"],
                    "speaker": schedule[day][i]["speeches"][0]["speaker"]
                    });
            }
            else {
                if (schedule[day][i]["speeches"]) {
                    currSpeeches = schedule[day][i]["speeches"];
                    for (j in currSpeeches) {
                        currSpeeches[j]["day"] = day;
                        currSpeeches[j]["time"] = schedule[day][i]["time"];
                    }
                    speeches = speeches.concat(currSpeeches);
                }
            }
        }
    }
    for (idx in speeches) {
        speech = speeches[idx];
        if(speech["speaker"]) {
            eventDict[speech["speaker"]] = eventDict[speech["speaker"]] || [];
            eventDict[speech["speaker"]].push(speech);
        }
    }

mixin speaker(name, photo, position, intro, company, bio)
    - var urlizedName = name.toLowerCase().split(' ').join('-')
    .speaker(id=urlizedName)
        img.photo(src=photo alt=name)
        h3.name
            != name
        span.position
            != position
        span.company
            != company
        if intro
            span.intro
                != intro
        .details
            span.close-button
                | ⨉
            .wrap
                img.photo(src=photo alt=name)
                span.name
                    != name
                span.position
                    != position
                span.company
                    != company
                if intro
                    span.intro
                        != intro
                .sessions
                    if eventDict[name]
                        each session in eventDict[name]
                            if session["title"]
                                - var urlizedTitle = session["title"].toLowerCase().split(' ').join('-')
                                .session
                                    span.day
                                        != session["day"]
                                    span.time
                                        != session["time"]
                                    span.title
                                        != session["title"]
                                    span.description
                                        != session["description"]

                if postDict[name]
                    span.related-news
                        != "Learn more about " + name + " in the post: "
                        a(href=postDict[name].permalink)
                            != postDict[name].title
                if bio
                    .bio
                        span.title
                            | Speaker Bio
                        span.content
                            != bio

if controls["speakers"]
    .module.module-speakers
        h2.module-title#speakers
            != general["speakers-title"]
        .speakers
            each speaker in speakers
                if (!speaker["hidden"] && !speaker["moderator"] && !speaker["previous"])
                    +speaker(speaker["name"],speaker["photo"],speaker["position"],speaker["intro"],speaker["company"], speaker["bio"])
            +speaker("more to come","/images/speakers/more-to-come.jpg", "", "", "", "")
        a.moderator-title
            != general["moderators-title"]
        .moderators
            each speaker in speakers
                if (!speaker["hidden"] && speaker["moderator"] && !speaker["previous"])
                    +speaker(speaker["name"],speaker["photo"],speaker["position"],speaker["intro"],speaker["company"], speaker["bio"])
        // a.past-speakers-title
        //     != general["past-speakers-title"]
        // .past-speakers
        //     each speaker in speakers
        //         if (!speaker["hidden"] && speaker["previous"])
        //             +speaker(speaker["name"],speaker["photo"],speaker["position"],speaker["intro"],speaker["company"], speaker["bio"])
